body {
    width:400px;
    min-height:450px;
    overflow-x:hidden;
    overflow-y:scroll;
    margin: 0;
	padding: 0;
	color: #d6e5e4;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #444444;
	background-repeat: no-repeat;
	background: url(images/wood.jpg)
}

.credits {color: #444; }
.credits a {
    color: #3D1B42; 
	font-weight: normal; 
    text-decoration: none; 
    border-bottom:1px dotted; 
}

a, a:link { 
	color: #ffffff; 
	font-weight: normal; 
    text-decoration: none; 
    border-bottom:1px dotted; 
}

a:visited {
    color: #F7F7F7;
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

em { color: #fff; }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal;  font-family: Georgia, "Times New Roman", Times, serif }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 10px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }