body {
    width:350px;
    min-height:400px;
    overflow-x:hidden;
    overflow-y:scroll;
    margin: 10px;
    padding: 0;
	color: #fff;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;;
	line-height: 1.5em;
	background: #1a1a1a url(images/bg.jpg) top right repeat-y;
}

strong {
    color: #E37D92;
}



a, a:link { 
	color: #E37D92; 
	font-weight: normal; 
    text-decoration: none; 
    border-bottom:1px dotted #ffffff; 
}

a:visited {
    color: #b9939e;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));

}

p { margin: 0 0 10px 0; padding: 0; text-shadow: 1px 1px 1px #000; 
background-color: rgba(17, 9, 56, 0.06);

}

h1, h2, h3, h4, h5, h6 { color: #E9C1EE; font-weight: normal;  font-family: Verdana, Helvetica, sans-serif; text-align: center;}

h3 { font-size: 22px; margin: 0 0 10px; padding: 0; }

#status {
    float: left;
}
#statusmeans {
    clear: both;
}
#badge-container {
    padding: 9px 5px;
    display: inline-block;
}
#flashproxy-badge {
    border-spacing: 0px;
}
#flashproxy-badge.idle {
    background-color: #227;
}
#flashproxy-badge.active {
    background-color: #28f;
}
#flashproxy-badge.disabled {
    background-color: #777;
}
#flashproxy-badge.dead {
    background-color: #111;
}
#flashproxy-badge td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: center;
}
#flashproxy-badge a img {
    border: 0;
}
