body {
    width:350px;
    min-height:400px;
    overflow-x:hidden;
    overflow-y:scroll;
    margin: 10;
    padding: 0;
	color: #d6e5e4;
	font-family: Verdana, Helvetica,, sans-serif;
	font-size: 13px;;
	line-height: 1.5em; 
	background-color: #1a1a1a;
	background-repeat: no-repeat;
	background: url(images/bg.jpg)
}

a, a:link { 
	color: #E37D92; 
	font-weight: normal; 
    text-decoration: none; 
    border-bottom:1px dotted #ffffff; 
}

a:visited {
    color: #b9939e;
}

p { margin: 0 0 10px 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal;  font-family: Verdana, Helvetica, sans-serif; }

h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0; }

h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }

h3 { font-size: 22px; margin: 0 0 10px; padding: 0; }
